<nav class="font-cinzel fixed top-0 left-0 w-full bg-blue-900 backdrop-blur-sm z-50 shadow-md">
  <div class="max-w-6xl mx-auto px-6 py-3 flex justify-between items-center">
    
    <!-- LOGO + NOMBRE pegados -->
    <a routerLink="/" class="flex items-center gap-0 md:gap-0 no-underline">
      <!-- mini logo -->
      <img src="/assets/logo-mini.png"
           alt="Eterna Aurea Tattoo Studio"
           class="h-8 sm:h-9 md:h-10 lg:h-12 w-auto block" />

      <!-- texto junto al logo -->
      <div class="flex flex-col leading-tight">
  <span class="text-[#d6a93a] text-lg md:text-xl lg:text-2xl font-semibold whitespace-nowrap">Eterna Aurea</span>
  <span class="text-[#d6a93a] text-sm md:text-base uppercase font-semibold tracking-wide -mt-1 whitespace-nowrap">Tattoo Studio</span>
      </div>
  </a>

    <!-- MENÚ -->
    <ul class="flex space-x-6 text-base md:text-lg uppercase tracking-wide text-[#f5e9cf]">
      <li><a href="#inicio" (click)="scrollTo($event,'inicio')" class="hover:text-ocre transition">Inicio</a></li>
      <li><a href="#estudio" (click)="scrollTo($event,'estudio')" class="hover:text-ocre transition">El Estudio</a></li>
      <li><a href="#tatuador" (click)="scrollTo($event,'tatuador')" class="hover:text-ocre transition">El Tatuador</a></li>
      <li><a href="#portfolio" (click)="scrollTo($event,'portfolio')" class="hover:text-ocre transition">Portfolio</a></li>
      <li><a href="#reservas" (click)="scrollTo($event,'reservas')" class="hover:text-ocre transition">Reservas</a></li>
      <li><a href="#contacto" (click)="scrollTo($event,'contacto')" class="hover:text-ocre transition">Contacto</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>