@tailwind base;
@tailwind components;
@tailwind utilities;
*{box-sizing:border-box}
html,body,app-root{width:100%;overflow-x:hidden}
@keyframes fadeIn{from{opacity:0;transform:scale(0.95)}to{opacity:1;transform:scale(1)}}
.animate-fadeIn{animation:fadeIn 2s ease-out forwards}
.navbar{font-family:'Cinzel',serif}
.bg-video{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:auto;object-fit:cover}