@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  overflow-x: hidden !important;
}
html {
  scroll-behavior: smooth;
}
.Sombra_negra { filter: drop-shadow(0 10px 20px rgb(0,0,0))
  drop-shadow(0 10px 10px rgb(0,0,0))
  }