parameters:
  uploads_dir: '%kernel.project_dir%/public/uploads/reservations'
  logo_path: '%kernel.project_dir%/public/assets/logo1.png'
  MAILER_FROM_ADDRESS: '%env(MAILER_FROM_ADDRESS)%'
  MAILER_FROM_NAME: '%env(MAILER_FROM_NAME)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'
