<header class="sr-only"></header>

<section id="inicio" class="scroll-mt-[72px] relative h-screen flex items-center justify-center font-romano overflow-hidden">

  <div class="triple-video absolute inset-0 z-0 hidden md:flex filter blur-[1px]">
    <div class="col relative overflow-hidden">
      <video #bgVideo0 playsinline muted preload="metadata" class="video-col"></video>
    </div>
    <div class="col relative overflow-hidden">
      <video #bgVideo1 playsinline muted preload="metadata" class="video-col"></video>
    </div>
    <div class="col relative overflow-hidden">
      <video #bgVideo2 playsinline muted preload="metadata" class="video-col"></video>
    </div>
  </div>

  <div class="single-video absolute inset-0 z-0 md:hidden">
    <video #singleVideo playsinline muted preload="metadata" class="w-full h-full object-cover"></video>
  </div>

  <div class="absolute inset-0 bg-blue-900/90 z-5 overlay-dark"></div>

  <div class="relative z-10 contenido text-center px-4 Sombra_negra">
    <div class="mx-auto w-64 sm:w-72 md:w-[420px] lg:w-[520px] xl:w-[600px]">
  <img src="/assets/logo1.webp" alt="Logo Tattoo" class="w-full" />
  </div>
    <h2 class="text-[#d6a93a] font-cinzel text-xl md:text-2xl mt-6 opacity-0 animate-fadeUp [animation-delay:0.4s]">Tatuajes que cuentan tu historia</h2>
    <a routerLink="/reservas" class="font-cinzel inline-block mt-8 px-6 py-3 border-2 border-[#d6a93a] text-[#d6a93a] font-semibold uppercase tracking-wider hover:bg-ocre hover:text-azulmarino transition-all duration-300 opacity-0 animate-fadeUp [animation-delay:0.8s]">Pide tu cita</a>
  </div>
</section>

<!-- El estudio-->
<app-estudio></app-estudio>

<!--El tatuador-->
<app-tatuador></app-tatuador>

<!--Portfolio-->
<app-portfolio></app-portfolio>

<!--Reservas-->
<app-reservas></app-reservas>

<!-- Contacto -->
<section id="contacto" tabindex="-1" class="scroll-mt-[72px] w-full py-20 bg-transparent">
  <div class="max-w-6xl mx-auto px-6">
    <app-contacto></app-contacto>
  </div>
</section>
